
body {
    margin: 0;
    padding: 15px;
    background-image: url("../fundao.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }  
  h1{
    font-size: 2rem;
    color: black;
    width: 100%;
    text-align: center;
    
}
div{
    font-size: clamp(12px, 9vh, 20px);
    padding: 10px;  
    
}
form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid black;
  }

label {
    display: inline-block;
    width: 400px;
    color: black;
    padding: 5px;
    font-size: 25px;

    
}
input{
    padding: 6px;
    border: 3px solid black;
    border-radius: 5px;
    height: 35px;
    box-sizing: border-box;
    background-color: greenyellow;
    vertical-align: middle;
    font-size: 20px;
    width: 100%;
    
}

button {
      cursor: pointer;
      background-color: greenyellow;
      color: black;
      border-radius: 5px; 
      width: 100%;
      padding: 15px;
      align-items: center;
      font-size: 20px;
      border: 3px solid black;   
      margin-top: 20px;
  }
button:hover {
      background-color: green;
      
    
}
  @media (max-width: 800px) {

    form {
        width: 88%;
        height: 100%;
    }
    

}


